html, head, body {
	height: 100%;
	overflow: hidden;
}

#main {
	width: 800px;
	height: 480px;
	margin: auto;
	overflow: hidden;
	padding-top: 30px;
	border: 1px dashed #333;
}

.blink {
	animation-name: blinker;
	animation-duration: 0.2s;
	animation-iteration-count:infinite;
	animation-timing-function:steps(3);
	animation-direction: alternate;
}

body {
	font-family: 'Roboto Condensed';
	background-color: #000;
	text-align: center;
	padding: 0.5%;
	margin: 0;
	color: white;
}

#fixed {
	padding-bottom: 10px;
}

#leds {
	height: 70px;
	display: grid; /* display: inline-grid;*/
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#led1,#led12 {
	margin-top: 45px;
}

#led2,#led11 {
	margin-top: 30px;
}

#led3,#led10 {
	margin-top: 18px;
}

#led4,#led9 {
	margin-top: 9px;
}

#led5,#led8 {
	margin-top: 3px;
}

#led6,#led7 {
	margin-top: 0px;
}

#leds>div>span {
	display: inline-block;
	width: 50px;
	height: 50px;
	
	border-radius: 50px;
	border-width: 30px;
	background-color: #444;
}

.green>span {
	background-color: lime !important;
}

.yellow>span {
	background-color: yellow !important;
}

.red>span {
	background-color: #ff1919 !important;
}

.rpm_bar_frame {
	border-top-left-radius: 50% 90%;
	border-top-right-radius: 50% 90%;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 80px;
	margin-bottom: 0.5em;
	background-color: #444;
}

#rpm_bar {
	height: 100%;
	width: 0%;
	transition: width 100ms;
	
	background: linear-gradient(to right, lime 0%,lime 25%,yellow 45%,orange 60%,red 90%);
	background-size: 100vw 100%;
}

#rpm_bar>div {
	position: absolute;
	width: 2px;
	background: #999;
	height: 100%;
	top: 0;
}
	
#first_screen>div
{
	font-size: 26pt;
	line-height: 24pt;
}

div.labelbox>span {
	display: inline-block;
	transform: translateY(-70%);
	color: #F8E820;
	background-color: #000;
	padding: 0 10px;
	font-size: 12pt;
	text-transform: uppercase;
}

div.labelbox>div {
	transform: translateY(-10pt);
}
	
.gear_box>div {
	color: #F8E820;
	font-size: 135pt;
	line-height: 75%;
}

.screen {
	display: grid;
	grid-gap: 15px 7px;
}

#first_screen {
	grid-template-columns: 2fr 2fr 2fr 3fr 3fr 3fr;
}

#second_screen {
	grid-template-columns: 6fr 3fr 6fr;
}
	
.gear_box {
	grid-row: auto / span 2;
}

#speed_box {
	font-size: 40pt;
	line-height: 53pt;
}

#rpm_box {
	grid-column-start: 3;
}

.box {
	border: 2px solid white;
}
		
#delta.positive {
	color: #ff1919;
}

#delta.negative {
	color: lime;
}

#gear.gear_shift_active {
	color: lime;
}

#gear.shift_indicator {
	color: #ff1919 !important;
}

.speed_drs_active, .drs_available, .p2p_engaged {
	color: lime;
}

.p2p_cooldown {
	color: #ff1919;
}

#flag {
	margin: 0 auto;
	width: 60%;
	height: 30pt;
	border: 1px solid black;
	opacity: 1;
}

#flag.green {
	opacity: 0;
	border-color: lime;
	background-color: lime;
	
	animation: fadeOutWithDelay 10s;
}

#flag.yellow {
	border-color: yellow;
	background-color: yellow;
}

#flag.blue {
	border-color: blue;
	background-color: blue;
}

#flag.penalty {
	border-color: orange;
	background-color: orange;
}

#flag.white {
	border-color: white;
	background-color: white;
}

#flag.black_white {
	border-color: white;
	background: linear-gradient(to left top, #FFF 0%, #FFF 49%, #000 51%, #000 100%);
}

#flag.black {
	border-color: white;
	background-color: black;
}

#flag.checkered {
	border-color: white;
	background: linear-gradient(45deg, #000 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, #000 75%, #000 0), linear-gradient(45deg, #000 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, #000 75%, #000 0), rgb(255, 255, 255);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
}

#flag.blink {
	animation-name: flash;
	animation-duration: 0.35s;
	animation-iteration-count:infinite;
	animation-timing-function:steps(4);
	animation-direction: alternate;
}

#tires {
	display: grid;
	grid-template-columns: auto 66px 66px auto;
  
	grid-gap: 5px 5px;
	font-size: 20pt;
	line-height: 20pt;
}

#tires  div.tire {
	border-radius: 5px;
	background-color: gray;
	height: 100px;
	width: 66px;
	
	grid-row: auto / span 3;
}

@keyframes blinker {
	0% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes flash {
	0% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	61% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOutWithDelay {
	0% {
		opacity: 1;
	}
	90% {
	   opacity: 1;
	}
	100% {
	   opacity: 0;
	}
}