html, head, body {
	height: 100%;
	overflow: hidden;
	cursor: default;
}

body {
	font-family: 'Roboto Condensed';
	background-color: #111;
	text-align: center;
	padding: 0.5%;
	margin: 0;
	color: white;
}

#main {
	background-color: #000;
	width: 796px;
	height: 480px;
	margin: auto;
	overflow: hidden;
	padding-top: 30px;
}

.blink {
	animation-name: flash;
	animation-duration: 0.25s;
	animation-iteration-count:infinite;
	animation-timing-function:steps(3);
	animation-direction: alternate;
}

.blink-bg, .flash-bg, .fast-flash-bg {
	animation-name: flash-bg;
	animation-duration: 0.25s;
	animation-iteration-count:infinite;
	animation-timing-function:steps(3);
	animation-direction: alternate;
}

.flash-bg, .fast-flash-bg {
	animation-timing-function:steps(1);
}

.fast-flash-bg {
	animation-duration: 0.15s;
}

#fixed {
	padding-bottom: 8px;
}

#leds {
  height: 70px;
  display: grid; /* display: inline-grid;*/
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#led1,#led12 {
  margin-top: 45px;
}

#led2,#led11 {
  margin-top: 30px;
}

#led3,#led10 {
  margin-top: 18px;
}

#led4,#led9 {
  margin-top: 9px;
}

#led5,#led8 {
  margin-top: 3px;
}

#led6,#led7 {
  margin-top: 0px;
}

#leds>div>span {
	display: inline-block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: all .1s;
	border: 1px solid rgba(100, 100, 100, 0.2);
}

#led1>span, #led2>span, #led3>span, #led4>span,
#led5>span, #led6>span, #led7>span, #led8>span ,
#led9>span, #led10>span, #led11>span, #led12>span {
	background: radial-gradient( rgba(150, 150, 150, 0.25), rgba(150, 150, 150, 0.1));
}

#led1.active>span, #led2.active>span, #led3.active>span, #led4.active>span {
	background: lime;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(0, 255, 0, 0.7) 0 2px 25px;
}

#led5.active>span, #led6.active>span, #led7.active>span, #led8.active>span {
	background: #FF0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, rgba(255, 255, 0, 0.7) 0 2px 25px;
}

#led9.active>span, #led10.active>span, #led11.active>span, #led12.active>span,
.rpm_limit>#led1>span, .rpm_limit>#led2>span, .rpm_limit>#led3>span, .rpm_limit>#led4>span,
.rpm_limit>#led5>span, .rpm_limit>#led6>span, .rpm_limit>#led7>span, .rpm_limit>#led8>span,
.rpm_limit>#led9>span, .rpm_limit>#led10>span, .rpm_limit>#led11>span, .rpm_limit>#led12>span
 {
	background: #F00;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.7) 0 2px 25px;
}

.flash_led>#led1>span, .flash_led>#led2>span, .flash_led>#led3>span, .flash_led>#led4>span,
.flash_led>#led5>span, .flash_led>#led6>span, .flash_led>#led7>span, .flash_led>#led8>span,
.flash_led>#led9>span, .flash_led>#led10>span, .flash_led>#led11>span, .flash_led>#led12>span
 {
	animation-duration: .3s;
	animation-iteration-count:infinite;
	animation-name: blinkRed;
}

@keyframes blinkRed {
    from {
		background-color: #F00; 
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.7) 0 2px 25px;
	}
    40% {
		background: radial-gradient( rgba(150, 150, 150, 0.25), rgba(150, 150, 150, 0.1));
		box-shadow: none;
	}
    to {
		background-color: #F00; 
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.7) 0 2px 25px;
	}
}

.rpm_bar_frame {
	border-top-left-radius: 50% 90%;
	border-top-right-radius: 50% 90%;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 80px;
	margin-bottom: 0.5em;
	background-color: #262626;
}

#rpm_bar {
	height: 100%;
	width: 0%;
	transition: width 50ms;
	
	background: linear-gradient(to right, lime 0%,lime 25%,yellow 45%,orange 60%,red 90%);
	background-size: 800px 100%;
}

#rpm_bar>div {
	position: absolute;
	width: 2px;
	background: #777;
	height: 100%;
	top: 0;
}
	
.screen>div {
	font-size: 26pt;
	line-height: 24pt;
}

div.labelbox>span {
	display: inline-block;
	transform: translateY(-17pt);
	color: #F8E820;
	background-color: #000;
	padding: 0 5px;
	font-size: 12pt;
	text-transform: uppercase;
}

div.labelbox>div {
	transform: translateY(-11pt);
}
	
.gear_box>div {
	color: #F8E820;
	font-size: 135pt;
	line-height: 75%;
}

.shadowed {
	text-shadow: 1px  1px 1px black, 1px -1px 1px black, -1px  1px 1px black, -1px -1px 1px black;
}

/* Damage overlay */

#damage_overlay {
position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    line-height: 200px;
    height: 200px;
    margin-left: -300px;
    margin-top: -100px;
    background-color: rgba(0,0,0,0.95);
	border: 2px solid red;
    text-align: center;
  
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.7);
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto;
}

#damage_overlay #engine, #damage_overlay #gearbox, #damage_overlay #damage {
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	background-color: white;
	margin: 5px;
}

#damage_overlay .bar {
	border: 2px solid #000;
	height: 20px;
	margin: 10px 20px;
	margin-top: 5px;
	outline: 1px solid #FFF;
	position: relative;
}

.bar>div {
	height: 100%;
	width: 80%;
	background-color: #FFF;
}

#damage_overlay #engine {
	-webkit-mask-image: url('./img/engine.svg');
}

#damage_overlay #gearbox {
	-webkit-mask-image: url('./img/gearbox.svg');
}

#damage_overlay #damage {
	-webkit-mask-image: url('./img/damage.svg');
}

/* Screens */

.screen {
	display: grid;
	grid-gap: 15px 7px;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 75px 75px 3fr 3fr 3fr 3fr;
	height: 270px;
}

#first_screen {
	grid-template-rows: 1fr 1fr 1fr;
}

#second_screen {
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
}

/* First screen. */

#first_screen .box {
	grid-column: auto / span 2;
}

#first_screen .gear_box {
	grid-row: auto / span 2;
}

.speed_box>div {
	font-size: 50pt;
	line-height: 55pt;
}

#rpm_box {
	grid-column-start: 3;
}

.box {
	border: 2px solid white;
}
		
.positive {
	color: #ff1919;
}

.negative {
	color: lime;
}

.gear.gear_shift_active {
	color: lime;
}

.gear.shift_indicator {
	color: #ff1919 !important;
}

.speed_drs_active, .drs_available, .p2p_engaged {
	color: lime;
}

.p2p_cooldown {
	color: #ff1919;
}

.flag.green {
	background-color: transparent;
	animation: greenFlagWithFade 10s;
}

.flag.yellow {
	background-color: yellow;
}

.flag.blue {
	background-color: blue;
}

.flag.penalty {
	background-color: orange;
}

.flag.white {
	background-color: white;
}

.flag.black_white {
	background: linear-gradient(to left top, #FFF 0%, #FFF 49%, #000 51%, #000 100%);
}

.flag.black {
	background-color: black;
}

.flag.checkered {
	background: linear-gradient(45deg, #000 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, #000 75%, #000 0), linear-gradient(45deg, #000 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, #000 75%, #000 0), rgb(255, 255, 255);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
}

.flag.yellow, .flag.blue, .flag.white, .flag.penalty {
	animation-name: flash-bg;
	animation-duration: 0.25s;
	animation-iteration-count:infinite;
	animation-timing-function: steps(1);
	animation-direction: alternate;
}

.fuel_left_2_laps {
	color: red;
}

.fuel_left_3_laps {
	color: orange;
}

.fuel_left_4_laps {
	color: yellow;
}

.position_front, .position_behind {
	padding-right: 5px;
}

/* Second screen. */

#second_screen .box {
	grid-row: auto / span 2;
	grid-column: auto / span 2;
}

#second_screen .gear_box {
	grid-row: auto / span 4;
	grid-column: auto / span 2;
}

#second_screen .speed_box {
	grid-row: auto / span 2;
	grid-column: auto / span 2;
}

#second_screen #tire_conditions {
	grid-column: auto / span 4;
	grid-row: auto / span 3;
}

#second_screen #tire_temps, #second_screen #tire_pressures {
	grid-column: auto / span 2;
	grid-row: auto / span 3;
}

#first_screen .deltabox {
	grid-column: auto / span 3;
}

#tire_conditions>div {
	display: grid;
	grid-template-columns: 1fr 40px 40px 1fr;
	grid-gap: 2px 2px;
	line-height: 40pt;
	margin-top: -10px
}

#tire_temps>div, #tire_pressures>div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 20pt;
	grid-gap: 15px 0px;
}

div.tire_left {
	text-align: right;
	padding-right: 5px;
}

div.tire_right {
	text-align: left;
	padding-left: 5px;
}

div.tire {
	border-radius: 7px;
	border: 2px solid white;
	height: 42px;
	width: 26px;
	overflow: hidden;
	text-align: center;
	padding: 2px;
	
	background-color: white;
	background-clip: content-box;
}

.state_orange, .state_red {
	animation-name: blinker-bg;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.state_yellow  {
	background-color: yellow !important;
}

.state_orange  {
	background-color: orange !important;
	animation-duration: 1.5s;
}

.state_red  {
	background-color: red !important;
	animation-duration: .75s;
}

div.tire div.wear {
	height: 0%;
	background-color: #000;
	width: 100%;
	float: right;
}

div.tire div.dirt {
	background-color: purple;
	width: 50%;
	margin: auto;
	height: 100%;
	position: relative;
	bottom: 0;
	top: 100%;
}

/* Pit screen. */

#pit_screen {
	grid-template-columns: 2fr 3fr 2fr;
	grid-template-rows: 1fr 1fr 1fr; 
}

#pit_screen .gear_box, #pit_screen .speed_box {
	grid-row: auto / span 2;
}

#pit_screen .box div {
	font-size: 40pt;
}

#pit_screen  .gear_box>div, #pit_screen  .speed_box>div {
	font-size: 135pt;
	line-height: 75%;
}

.pitlimiter>div {
	background-color: red;
	height: 100%;
	line-height: 57pt;
}

.pitlimiter>div.active {
	background-color: lime;
}

.fuel_required_sufficient {
	color: lime;
}

.fuel_required_insufficient {
	color: red;
}

@keyframes blinker {
	0% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker-bg {
	50% { background-color: transparent; }
}

@keyframes flash-bg {
	61% {
		background-color: transparent;;
	}
	100% {
		background-color: transparent;;
	}
}

@keyframes flash {
	0% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	61% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes greenFlagWithFade {
	0% {
	   background-color: lime;
	}
	90% {
	   background-color: lime;
	}
	100% {
	   background-color: transparent;
	}
}